:root {
  --error-color: #bd362f;
  --success-color: #4ebc82;
  --light-color: #ffffff;
  --dark-color: #333333;
  --background-color: #f1f3f4;
  --primary-color: #0ac0b0;
  --hover-color: #0ac0b04d;
  --secondary-color: #354564;
}
