<form class="form" [formGroup]="alunoForm" (ngSubmit)="create()">

  <mat-form-field appearance="outline">
    <mat-label class="small-font">Nome</mat-label>

    <input #inputNome class="name" matInput placeholder="Digite seu primeiro nome" formControlName="nome"
      data-inputmask="'regex': '^[a-zA-Z ]*$'" maxlength="20" minlength="3">

    <mat-error *ngIf="showErrorByField('nome', 'required')">O nome é obrigatório.</mat-error>

    <mat-error *ngIf="showErrorByField('nome', 'minlength')">O nome precisa ter no mínimo 3 caracteres.</mat-error>

    <mat-error *ngIf="showErrorByField('nome', 'maxlength')">O nome precisa ter no máximo 20 caracteres.</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label class="small-font">Sobrenome</mat-label>

    <input #inputSobrenome class="name" matInput placeholder="Digite seu sobrenome" formControlName="sobrenome"
      data-inputmask="'regex': '^[a-zA-Z ]*$'" maxlength="40" minlength="4">

    <mat-error *ngIf="showErrorByField('sobrenome', 'required')">O sobrenome é obrigatório.</mat-error>

    <mat-error *ngIf="showErrorByField('sobrenome', 'minlength')">O nome precisa ter no mínimo 4 caracteres.</mat-error>

    <mat-error *ngIf="showErrorByField('sobrenome', 'maxlength')">O nome precisa ter no máximo 40
      caracteres.</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label class="small-font">Idade</mat-label>

    <input #inputIdade matInput placeholder="Digite sua idade" type="text" formControlName="idade"
      data-inputmask="'mask': '9{1,3}'">

    <mat-error *ngIf="showErrorByField('idade', 'required')">A idade é obrigatória.</mat-error>

    <mat-error *ngIf="showErrorByField('idade', 'min')">A idade deve ser maior ou igual a 1.</mat-error>

    <mat-error *ngIf="showErrorByField('idade', 'max')">A idade deve ser menor ou igual a 150.</mat-error>
  </mat-form-field>

  <mat-radio-group formControlName="sexo" color="primary">
    <div>
      <mat-label class="small-font">Selecione seu sexo</mat-label>
    </div>

    <mat-radio-button value="M">Masculino</mat-radio-button>
    <mat-radio-button value="F">Feminino</mat-radio-button>

    <mat-error *ngIf="showErrorByField('sexo', 'required')">O sexo é obrigatório.</mat-error>
  </mat-radio-group>

  <button class="confirm text-font" mat-raised-button type="submit" [disabled]="alunoForm?.invalid">
    <mat-spinner *ngIf="isLoading" [diameter]="24"></mat-spinner>

    {{ getTextButton() }}
  </button>
</form>